{
  "trailingComma": "es5",
  "arrowParens": "always",
  "singleQuote": true,
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,
  "semi": false,
  "importOrder": ["^[./]", "^@/(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "jsxBracketSameLine": false,
  "bracketSpacing": true
}
